@import 'styles/main';

$button-small-height: 40px;
$button-micro-height: 32px;
$button-tertiary-height: 28px;
$button-default-height: 48px;
$button-border-radius: 8px;
$button-default-font-size: 16px;
$button-small-font-size: 14px;
$button-font-weight-bold: 600;
$icon-button-size: 24px;

@mixin button-component {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $space-3 * 0.5 $space-3;
  border-radius: $button-border-radius;
  font-size: $button-default-font-size;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  background-color: $c-orange-60;
  border: 0;
  height: $button-default-height;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $c-orange-80;
  }

  &:focus {
    background-color: $c-orange-90;
  }
  color: $c-neutral-0;
  font-weight: $button-font-weight-bold;

  &--fixed {
    width: auto;
  }

  &--disabled {
    pointer-events: none;
    color: $c-neutral-60;
    background-color: $c-neutral-30;
  }

  & > * {
    flex-direction: row;
  }

  & > &--icon {
    margin-right: $space * 1.5;
    display: inline-flex;
  }

  // button sizes
  &--small {
    padding: $space $space-3;
    height: $button-small-height;
    font-size: $button-small-font-size;
  }

  &--micro {
    padding: $space $space-2;
    height: $button-micro-height;
    font-size: $button-small-font-size;
    border-radius: $space-2;
    line-height: 1;
  }

  &--secondary {
    color: $c-orange-80;
    border: 2px solid $c-orange-20;
    background-color: $c-neutral-0;

    &:hover {
      background-color: $c-orange-20;
    }

    &:focus {
      background-color: $c-orange-40;
      border-color: $c-orange-40;
    }

    &.t-button--disabled {
      border-color: $c-orange-30;
      color: $c-neutral-60;
    }
  }

  &--tertiary {
    color: $c-orange-80;
    background-color: transparent;
    padding: $space * 5 $space-3;
    font-size: $button-default-font-size;
    font-weight: $button-default-font-weight;
    height: $button-default-height;

    &:hover {
      background-color: transparent;
      color: $c-orange-70;
    }

    &:focus {
      background-color: transparent;
      color: $c-orange-70;
    }

    &:active {
      background-color: transparent;
      color: $c-orange-80;
    }

    &.t-button--disabled {
      color: $c-neutral-60;
    }
  }

  &--icon-right {
    flex-direction: row-reverse;

    .t-button--icon {
      margin-left: $space * 1.5;
      margin-right: 0;
    }
  }

  &--destructive {
    color: $c-negative-80;
    background-color: $c-negative-20;

    &:hover,
    &:focus {
      background-color: $c-negative-60;
      color: $c-neutral-0;
    }

    &:active {
      background-color: $c-negative-80;
      color: $c-neutral-0;
    }

    &.t-button--disabled {
      background-color: $c-neutral-30;
      color: $c-neutral-60;
    }
  }
}

@mixin iconButton($hover-color: $c-neutral-20, $focus-color: $c-orange-80) {
  background-color: transparent;
  border-radius: $space-3;
  border: 0;
  cursor: pointer;
  min-width: $icon-button-size;
  min-height: $icon-button-size;
  outline: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $hover-color;
  }

  &:active,
  &:focus {
    background-color: $hover-color;

    svg {
      stroke: $hover-color;
    }
  }

  &.no-hover {
    &:active,
    &:focus {
      background-color: transparent;
    }
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.t-button {
  @include button-component();
}

.t-button--icon {
  @include iconButton;
}
