$fontColor: #041623;
$fontColorDark: #051d2e;
$borderColor: #93a3b1;
$selectBG: #5e7487;
$successColorDark: #2b826c;
$successColorDarker: #075d48;
$errorColorTintDark: #c13344;
$errorColorDark: #a60c1e;
$errorColorDarker: #8e0b1a;
$infoColorDark: #445869;
$successColorLight: #cefdd0;
$errorColorLight: #ffecee;
$infoColorDarker: #32414d;
$colorRedLight: #efa2ab;
$colorGreyLight: #d1e6fa;
$colorTintGrey: #e3e9ef;
$colorDimGrey: #ced9e3;
$baseFontSize: 16px;
$fontSizeSmall: 14px;
$fontSizeExtraSmall: 12px;
$fontSizeLarge: 18px;
$fontSizeExtraLarge: 20px;
$fontSizeXExtraLarge: 24px;
$fontSizeUltraLarge: 36px;
$whiteBG: #ffffff;
$greyBG: #f3f6f9;
$fontFamily: 'Montserrat', sans-serif;
$baseFontWeight: 400;
$fontWeightLight: 300;
$fontWeightSemiBold: 500;
$fontWeightBold: 600;
$fontWeightExtraBold: 800;
$space: 8px;
$space-2: 16px;
$space-3: 24px;
$space-4: 32px;
